@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
   
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }

  
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .infinite-scroll {
    display: flex;
    width: max-content;
    animation: infinite-scroll 35s linear infinite;
  }
  
  .infinite-scroll:hover {
    animation-play-state: paused;
  }
  
  .input {
    @apply border border-gray-300 rounded px-3 py-2 w-full;
  }
  